<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjp.erp.mapper.base.BaseActionMapper">
  <resultMap id="billActionMap" type="com.yjp.erp.model.po.service.BillAction">
    <result property="rpcUri" column="rpc_uri"/>
    <result property="rpcMethod" column="rpc_method"/>
    <result property="moduleId" column="module_id"/>
  </resultMap>

  <resultMap id="actionResultMap" type="com.yjp.erp.model.po.service.BillAction">
    <id property="id" column="id"/>
    <result property="moduleId" column="module_id"/>
    <result property="level" column="level"/>
    <result property="label" column="label"/>
    <result property="button" column="button"/>
    <result property="icon" column="icon"/>
    <result property="rpcUri" column="rpc_uri"/>
    <result property="rpcMethod" column="rpc_method"/>
    <result property="beforeService" column="before_service"/>
    <result property="afterService" column="after_service"/>
    <result property="roleAuthorization" column="role_authorization"/>
    <association property="refService" resultMap="billServiceResultMap"/>
  </resultMap>

  <resultMap id="billServiceResultMap" type="com.yjp.erp.model.po.service.Service">
    <id property="id" column="serviceId"/>
    <result property="serviceName" column="serviceName"/>
    <result property="label" column="serviceLabel"/>
    <result property="verb" column="verb"/>
    <result property="noun" column="noun"/>
    <result property="location" column="location"/>
    <result property="script" column="script"/>
    <result property="serviceType" column="service_type"/>
    <result property="roleAuthorization" column="role_authorization"/>
  </resultMap>

  <insert id="bathInsertBillAction" parameterType="com.yjp.erp.model.po.service.BillAction">
    insert into bill_action (id,module_id, level, label, button, icon, rpc_uri, rpc_method, before_service, after_service)
    values
    <foreach collection="list" separator="," item="item" index="index">
      (#{item.id},#{item.moduleId},#{item.level},#{item.label},#{item.button},#{item.icon},#{item.rpcUri},#{item.rpcMethod},#{item.beforeService},#{item.afterService})
    </foreach>
  </insert>

  <select id="getBillActionById" parameterType="Long" resultMap="billActionMap">
		select * from bill_action where id=#{id}
	</select>

  <select id="getBillActionList" parameterType="com.yjp.erp.model.po.bill.Module" resultMap="actionResultMap">
    select t2.id, t2.module_id, t2.level, t2.label, t2.button, t2.icon, t2.rpc_uri, t2.rpc_method, t2.before_service, t2.after_service ,t2.role_authorization,
    t4.id serviceId, t4.name serviceName, t4.label serviceLabel, t4.verb, t4.noun, t4.location, t4.script, t4.service_type,t4.role_authorization
    from module t1 join bill_action t2 on t1.id = t2.module_id
    left join action_service t3 on t2.id = t3.action_id
    left join service t4 on t3.service_id = t4.id
    where t1.type_id = #{typeId} and t1.class_id = #{classId} and t1.active_state = 1
  </select>

  <select id="getBillActionByModuleId" parameterType="Long" resultMap="billActionMap">
        select * from bill_action where module_id=#{id};
    </select>
</mapper>