<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjp.erp.mapper.base.BaseModuleMapper">

  <resultMap id="ModuleResult" type="com.yjp.erp.model.po.bill.Module">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="class_id" jdbcType="VARCHAR" property="classId" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="active_state" jdbcType="TINYINT" property="activeState" />
    <result column="publish_state" jdbcType="TINYINT" property="publishState" />
  </resultMap>

  <select id="getModuleByClassIdAndTypeId" parameterType="com.yjp.erp.model.po.bill.Module" resultMap="ModuleResult">
    select * from module where class_id = #{classId} and type_id = #{typeId} and active_state = 1 limit 1
  </select>

  <select id="getModuleById" parameterType="Long" resultMap="ModuleResult">
    select * from module where id = #{id}
  </select>

  <update id="deleteModules" parameterType="com.yjp.erp.model.po.bill.Module">
    update module set active_state = 0 where class_id = #{classId} and type_id = #{typeId}
  </update>

  <insert id="insertModule" parameterType="com.yjp.erp.model.po.bill.Module">
    insert into module (id, class_id, type_id,publish_state) values (#{id},#{classId},#{typeId},#{publishState})
  </insert>

  <update id="updateModule" parameterType="com.yjp.erp.model.po.bill.Module">
    update module set gmt_modify = now(),publish_state = #{publishState}
    where class_id = #{classId} and type_id = #{typeId} and active_state = 1
  </update>

</mapper>