<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjp.erp.mapper.ViewFieldMapper">

    <resultMap id="BaseResultMap" type="com.yjp.erp.model.po.view.ViewField">
        <id property="id" column="id"/>
        <result property="viewId" column="view_id"/>
        <result property="field" column="field"/>
        <result property="name" column="name"/>
        <result property="rules" column="rules"/>
        <result property="alias" column="alias"/>
        <result property="expresion" column="expresion"/>
        <result property="description" column="description"/>
    </resultMap>
    <sql id="Base_Column_List" >
      id,view_id,field,name,rules,alias,expresion,description
    </sql>
    <select id="getViewFieldByParentId" resultMap="BaseResultMap" parameterType="java.lang.Long">
      select a.id,a.view_id,a.field,a.name,a.rules,a.alias,a.expresion,a.description
      from view_field a
      left join view_son b on a.view_id = b.id
      where b.master_id = #{parentId}
    </select>
    <select id="getViewFieldBySonId" resultMap="BaseResultMap" parameterType="java.lang.Long">
      select
      <include refid="Base_Column_List"/>
      from view_field
      where view_id = #{viewSonId}
    </select>
    <select id="getAllViewField" resultMap="BaseResultMap" >
      select
      <include refid="Base_Column_List"/>
      from view_field
    </select>

    <insert id="insertList" parameterType="java.util.List">
        insert into view_field
        (
          id,view_id,field,name,rules,alias,expresion,description
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
              #{item.id},
              #{item.viewId},
              #{item.field},
              #{item.name},
              #{item.rules},
              #{item.alias},
              #{item.expresion},
              #{item.description}
            )
        </foreach>
    </insert>
</mapper>