<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjp.erp.mapper.system.OrgMapper">

    <resultMap id="BaseResultMap" type="com.yjp.erp.model.po.system.Organization">
        <id property="id" column="ID"/>
        <result property="baseNode" column="BASE_NODE"/>
        <result property="parentId" column="parent_id"/>
        <result property="orgType" column="org_type"/>
        <result property="name" column="NAME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="creator" column="CREATOR"/>
        <result property="updater" column="UPDATER"/>
        <result property="addressProvince" column="ADDRESS_PROVINCE"/>
        <result property="addressCity" column="ADDRESS_CITY"/>
        <result property="addressCounty" column="ADDRESS_COUNTY"/>
        <result property="addressDetailAddress" column="ADDRESS_DETAIL_ADDRESS"/>
        <result property="storeHouseType" column="STORE_HOUSE_TYPE"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="lastUpdateTime" column="LAST_UPDATE_TIME"/>
        <result property="status" column="STATUS"/>
    </resultMap>
    <sql id="Base_Column_List" >
      ID,BASE_NODE,parent_id,org_type,NAME,DESCRIPTION,CREATOR,UPDATER,ADDRESS_PROVINCE,ADDRESS_CITY,ADDRESS_COUNTY,ADDRESS_DETAIL_ADDRESS,
      STORE_HOUSE_TYPE,CREATE_TIME,LAST_UPDATE_TIME,STATUS
    </sql>
    <select id="countVirtualOrgByMap" resultType="java.lang.Integer" parameterType="java.util.Map">
      select count(1)
      from virtual_org
      where 1 = 1
      <if test="status != null">
        <if test="status == 1">
          and status = 1
        </if>
        <if test="status == 2">
          and status in (0,1)
        </if>
      </if>
      <if test="orgType != null">
        and org_type = #{orgType}
      </if>
    </select>
    <select id="listVirtualOrgByMap" resultType="com.yjp.erp.model.vo.system.OrgVO" parameterType="java.util.Map">
      select
      <include refid="Base_Column_List"/>
      from virtual_org
      where 1 = 1
      <if test="status != null">
        <if test="status == 1">
          and status = 1
        </if>
        <if test="status == 2">
          and status in (0,1)
        </if>
      </if>
      <if test="orgType != null">
        and org_type = #{orgType}
      </if>
      order by LAST_UPDATE_TIME desc

      limit #{start},#{end}
    </select>
    <select id="getOrgByName" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from virtual_org
      where NAME = #{name}
      and org_type = #{orgType}
      and STATUS in (0,1)
    </select>
    <select id="listOrgByVids" resultMap="BaseResultMap" parameterType="java.util.List">
      select
      <include refid="Base_Column_List"/>
      from virtual_org
      where
      STATUS in (0,1)
      and id in
      (
        <foreach collection="list" item="item" separator=",">
          #{item}
        </foreach>
      )
    </select>
    <select id="getOrgById" parameterType="java.lang.Long" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from virtual_org
      where ID = #{id}
    </select>

    <insert id="insert" parameterType="com.yjp.erp.model.po.system.Organization">
      insert into virtual_org
      (ID,BASE_NODE,parent_id,org_type,NAME,DESCRIPTION,CREATOR,UPDATER,ADDRESS_PROVINCE,ADDRESS_CITY,ADDRESS_COUNTY,ADDRESS_DETAIL_ADDRESS,
      STORE_HOUSE_TYPE,CREATE_TIME,LAST_UPDATE_TIME,STATUS)
      VALUES
      (#{id},#{baseNode},#{parentId},#{orgType},#{name},#{description},#{creator},#{updater},#{addressProvince},
      #{addressCity},#{addressCounty},#{addressDetailAddress},#{storeHouseType},#{createTime},#{lastUpdateTime},#{status})
    </insert>

    <update id="batchUpdateOrgNode" parameterType="java.util.List">
      update virtual_org
      <trim prefix="set" suffixOverrides=",">
        <trim prefix="BASE_NODE =case" suffix="end,">
          <foreach collection="list" item="item" index="index">
            when id=#{item.id} then #{item.baseNode}
          </foreach>
        </trim>
      </trim>
      where id in
      <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
        #{item.id}
      </foreach>
    </update>

    <update id="update" parameterType="com.yjp.erp.model.po.system.Organization">
      UPDATE virtual_org
      <set>
        DESCRIPTION = #{description},
        <if test="baseNode != null">
          BASE_NODE = #{baseNode},
        </if>
        <if test="parentId != null">
          parent_id = #{parentId},
        </if>
        <if test="orgType != null">
          org_type = #{orgType},
        </if>
        <if test="name != null">
          NAME = #{name},
        </if>
        <if test="creator != null">
          CREATOR = #{creator},
        </if>
        <if test="updater != null">
          UPDATER = #{updater},
        </if>
        <if test="addressProvince != null">
          ADDRESS_PROVINCE = #{addressProvince},
        </if>
        <if test="addressCity != null">
          ADDRESS_CITY = #{addressCity},
        </if>
        <if test="addressCounty != null">
          ADDRESS_COUNTY = #{addressCounty},
        </if>
        <if test="addressDetailAddress != null">
          ADDRESS_DETAIL_ADDRESS = #{addressDetailAddress},
        </if>
        <if test="storeHouseType != null">
          STORE_HOUSE_TYPE = #{storeHouseType},
        </if>
        <if test="createTime != null">
          CREATE_TIME = #{createTime},
        </if>
        <if test="lastUpdateTime != null">
          LAST_UPDATE_TIME = #{lastUpdateTime},
        </if>
        <if test="status != null">
          STATUS = #{status},
        </if>
      </set>
       where ID = #{id}
    </update>
</mapper>